<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      New Order
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 ion-text text-center>Place your order</h2>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label stacked>Room</ion-label>
        <ion-input placeholder="Enter details" [(ngModel)]="jobData.room"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label stacked>Building</ion-label>
        <ion-input placeholder="Enter details" [(ngModel)]="jobData.building"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea placeholder="Write a description" [(ngModel)]="jobData.description"> </ion-textarea>
    </ion-item>
  </ion-row>

  <ion-list>
    <ion-list-header>
      Choose category services:
    </ion-list-header>
    <ion-item class="category-name" *ngFor="let category of categories" (click)="showAlertWithServices(category)" no-lines>
      {{category}}
      <ion-icon class="category-dropright-icon" name="ios-arrow-dropright-circle-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ul class="service-list" *ngIf="jobData.serviceList">
    Selected services:
    <li *ngFor="let service of jobData.serviceList" text-wrap> 
      {{service}}
    </li>
  </ul>

  <ion-list>
    <ion-list-header>
      Add Pictures
    </ion-list-header>
    <ion-row>
      <ion-col class="img-wrap" *ngFor="let photo of this.photoHelper.photos; let i = index">
        <ion-icon class="close-icon-image" icon-left ios="ios-close-circle" md="md-close-circle" (click)="deleteImage(i)"></ion-icon>
        <img src="data:image/jpeg;base64,{{photo.image}}" (click)="imageSelected(i)" />
      </ion-col>
    </ion-row>
    <ion-item style="text-align:center">
        <button ion-button round color="Sblue" icon-right (click)="snap()">  
            <ion-icon name="camera" style="margin-right:10px"></ion-icon> Take photo
        </button>
      </ion-item>
  </ion-list>
  <h4 text-center style="color:red">{{error}}</h4>
  <button style="margin-top:30px" round color="Sblue" ion-button block (click)="placeRequest()">Submit Request</button>
</ion-content>