<ion-header>
  <ion-navbar>
    <ion-title>
      Job Details
    </ion-title>
    <ion-buttons end>
      <button ion-button round (click)="onClickGoToMessageBoardButton()" color="royal">Follow up
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--DETAILED CARD-->
<ion-content padding>
  <ion-card>
    <ion-card-header style="text-align:center;font-size:20px;color:dodgerblue" block>
      <ion-icon icon-left md="md-bookmark"></ion-icon>
      Job Details From Client
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p item-text>Room: {{job.room}}, <br>Building: {{job.building}}, <br> Placed at: {{job.getCreationTime()}}</p>
      </ion-item>
      <ion-item>
        <p>Services</p>
        <ul>
          <li *ngFor="let service of job.serviceList" style="color:gray;font-size:14px">
            {{service}}
          </li>
        </ul>
      </ion-item>

      <ion-item>
        <h3>Description</h3>
        <p ion-text ion-center>{{job.description}}</p>
      </ion-item>

      <ion-slides loop>
        <ion-slide *ngFor="let image of job.photosByClient">
          <img style="height:150px; margin: auto;" [src]="image" (click)="showInFullScreen(image)" />
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <!-- Approve Process -->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon icon-left *ngIf="job.isApproveforProcess()" ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
        <ion-icon icon-left *ngIf="!job.isApproveforProcess()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        Process Approval
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!-- IF NOT APPROVE FOR PROCESSING -->
      <div *ngIf="!job.isApproveforProcess() && (userRole== 'superUser' || userRole=='engineer')">
        <button ion-button block (click)="onclickApproveProcess()">Approve</button>
      </div>
    </ion-card-content>
  </ion-card>

  <!--TRADESPERSON CARD-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon icon-left *ngIf="job.isTradespersonAssigned()" ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
        <ion-icon icon-left *ngIf="!job.isTradespersonAssigned()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        Tradesperson
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!--IF HAVENT ASSIGN TRADESPERSON-->
      <div *ngIf="!job.isTradespersonAssigned() && job.isApproveforProcess() && (userRole=='superUser' || userRole=='manager')">
        <button ion-button block (click)="assignTradesperson(job)">Assign</button>
      </div>
      <!--IF ASSIGNED-->
      <div *ngIf="job.isTradespersonAssigned()">
        <ion-item>
          <h3>Assigned</h3>
          <ul>
            <li *ngFor="let user of job.tradespersonList">
              {{user.name}}
            </li>
          </ul>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <!--Check-In Card-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon icon-left *ngIf="job.isCheckedIn()" ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
        <ion-icon icon-left *ngIf="!job.isCheckedIn()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        Check-In
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <!--IF NO CHECKIN-->
      <div *ngIf="!job.isCheckedIn() && job.isTradespersonAssigned() && (userRole=='superUser' || userRole=='tradesperson')">
        <button ion-button block (click)="takeCheckinPhoto()">Check-in photo </button>
        <ion-card *ngFor="let photo of photoHelper.photos">
          <img src="data:image/jpeg;base64,{{photo.image}}" />
        </ion-card>
        <button ion-button block (click)="checkin()" [disabled]="photoHelper.photos.length <= 0">Check-in</button>
      </div>

      <!--IF CHECKEDIN-->
      <div *ngIf="job.isCheckedIn()">
        <ion-slides loop>
          <ion-slide *ngFor="let url of job.checkInPhotos">
            <img style="height:150px; margin: auto;" [src]="url" (click)="showInFullScreen(url)" />
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card-content>
  </ion-card>

  <!--Completion Card-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon ion-icon icon-left *ngIf="job.isCompleted()" ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
        <ion-icon ion-icon icon-left *ngIf="!job.isCompleted()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        Completion
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!--IF HAVENT COMPLETE-->
      <div *ngIf="!job.isCompleted() && job.isCheckedIn() && (userRole=='superUser' || userRole=='tradesperson')">
        <button ion-button block (click)="takeCompletionPhoto()">Completion photo</button>
        <ion-card *ngFor="let photo of photoHelper.photos">
          <img src="data:image/jpeg;base64,{{photo.image}}" />
        </ion-card>
        <button ion-button block (click)="confirmCompletion()" [disabled]="photoHelper.photos.length <= 0">Confirm Completion</button>
      </div>

      <!--IF COMPLETED-->
      <div *ngIf="job.isCompleted()">
        <ion-slides loop>
          <ion-slide *ngFor="let url of job.completionPhotos">
            <img style="height:150px; margin: auto;" [src]="url" (click)="showInFullScreen(url)" />
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card-content>
  </ion-card>

  <!--Approval-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon icon-left *ngIf="job.isCompletionApproved()" ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
        <ion-icon icon-left *ngIf="!job.isCompletionApproved()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        Approval
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!job.isCompletionApproved() && job.isCompleted() && (userRole=='superUser' || userRole=='client') ">
        <button ion-button block (click)=onClickApproveCompletion()>Approve Completion</button>
      </div>
    </ion-card-content>
  </ion-card>

  <!--INVOICE-->
  <ion-card *ngIf="job.isCompletionApproved()&& (userRole=='superUser' || userRole=='manager') ">
    <button ion-button block (click)='sendInvoice()'>Send Invoice</button>
  </ion-card>