<ion-header>
  <ion-navbar>
    <ion-title>Job Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let detail of jobDetails">
    <ion-card-header>
      Room: {{detail.room}} -- Placed at: {{detail.placedOn}}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ul>
          <li *ngFor="let job of detail.jobs">
            {{job}}
          </li>
        </ul>
      </ion-item>
      <p ion-text>Details: {{detail.description}}</p>
      <ion-item *ngFor="let image of detail.photosByClient">
        <img [src]="image" (click)="showInFullScreen(image)" />
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>