<ion-header>

  <ion-navbar>
    <ion-title>Progress</ion-title>
  </ion-navbar>

</ion-header>
<style>
  #checkedInItem {
    border-radius: 100%;
  }
  
  ion-item {
    margin-top: 8px;
    border-radius: 50%
  }
</style>
<ion-content padding>
  <ion-card *ngFor="let detail of progress" padding>
    <ion-card-content>
      <ion-list>
        <ion-item text-center [ngStyle]="{'background': detail.aegisApproved? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.aegisApproved" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.aegisApproved" item-left></ion-icon>
          {{detail.aegisApproved? 'You approved the job request': 'Your approval required'}}
        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.tpAssigned? '#4dbdd6':'#dadada'}" text-wrap>
          
          <ion-icon name="checkmark-circle" *ngIf="detail.tpAssigned" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.tpAssigned" item-left></ion-icon>
          {{detail.tpAssigned ? 'You assigned job to:': 'No one has been assigned this job'}}
          
          <span *ngFor="let tp of detail.tpAssigned">
            {{tp.tpName}}</span>

        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.checkedIn? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.checkedIn" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.checkedIn" item-left></ion-icon>
          {{detail.checkedIn ? 'Workers have reached the place': 'Waiting for workers to reach the site'}}
        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.photosBefore? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.photosBefore" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.photosBefore" item-left></ion-icon>

          {{detail.photosBefore ? 'Photos before service': 'Waiting for photos before service'}}
        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.photosAfter? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.photosAfter" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.photosAfter" item-left></ion-icon>
          {{detail.photosAfter ? 'Photos after service': 'Waiting for photos after service'}}
        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.tpDone? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.tpDone" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.tpDone" item-left></ion-icon>
          {{detail.tpDone ? 'Worker marked it done': 'Not done yet'}}
        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.clientApproved? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.clientApproved" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.clientApproved" item-left></ion-icon>
          {{detail.clientApproved ? 'Client has approved the job': 'Client has not approved yet.'}}
        </ion-item>
        <ion-item text-center [ngStyle]="{'background': detail.invoiceSent? '#4dbdd6':'#dadada'}" text-wrap>
          <ion-icon name="checkmark-circle" *ngIf="detail.invoiceSent" item-left></ion-icon>
          <ion-icon name="close" *ngIf="!detail.invoiceSent" item-left></ion-icon>
          {{detail.invoiceSent ? 'You have sent the invoice': 'Invoice not sent yet.'}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>