<ion-content padding>
    <div class="auth-holder">
        <div id="loginDiv" *ngIf="activeForm ==='login'">
            <h2 style="text-align:center">Login</h2>
            <form method="POST" (ngSubmit)="login(email, password)" #loginForm="ngForm">
                <ion-item>
                    <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password" required></ion-input>
                </ion-item>
                <button ion-button block type="submit" [disabled]="!loginForm.form.valid">Submit</button>
            </form>
            <button ion-button block round outline (click)="showForm('forgot')">Forgot Password?</button>
        </div>

        <div id="forgotpasswordDiv" *ngIf="activeForm ==='forgot'">
            <h2 style="text-align:center">Reset Password</h2>
            <form method="POST" (ngSubmit)="forgot(email)" #forgotForm="ngForm">
                <ion-item>
                    <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email" required></ion-input>
                </ion-item>
                <button ion-button block type="submit" [disabled]="!forgotForm.form.valid">Get Code</button>
            </form>
            <button ion-button block round outline (click)="showForm('login')">Go to login</button>
        </div>
        <ion-label class="error" style="color:red" *ngFor="let error of errors">{{error}}</ion-label>
    </div>

</ion-content>