<ion-header>
  <ion-navbar>
    <ion-title>
      <h4>Welcome, {{cUser.name}} </h4>
    </ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button icon-only color="danger">
        <ion-icon md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let cj of currentJobs" padding>
    <p ion-text color="primary" text-center>{{cj.jobName}} request<br>{{cj.clientName}}<br>{{cj.placedOn}}</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block [disabled]="cj.progress.aegisApproved" (click)="setApprove(cj.key)">{{cj.progress.aegisApproved ? 'Approved': 'Approve'}}</button>
        </ion-col>
        <ion-col>
          <button ion-button block [disabled]="!cj.progress.aegisApproved || cj.progress.tpAssigned" (click)="assignTP(cj.key)">{{cj.progress.tpAssigned ? 'Assigned': 'Assign'}}</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="showDetailsPage(cj.key)">Details</button>
        </ion-col>
        <ion-col *ngIf="cj.progress.tpAssigned">
          <button ion-button block (click)="showProgresPage(cj.key)">Progress</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>