.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 5%;
    font-size: 2.0em;
    width: 91%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 20%;
    width: 92%;
    color: #fff;
  }
  img{
      filter: brightness(50%);
      position: absolute;
      top: 0; bottom:0; left: 0; right:0;
      margin: auto;
  }
}
