<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Current Jobs
    </ion-title>
    <!-- <ion-buttons end>
      <button (click)="logout()" ion-button icon-only color="danger">
        <ion-icon md="md-log-out"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card style="height:30%" *ngFor="let cj of currentJobs" padding (click)="showDetailsPage(cj.key)">
    <img src="img/painting.png" />
    <div class="card-title">{{cj.jobCreatorName}}</div>
    <div class="card-subtitle"> Building: {{cj.building}} <br> Room: {{cj.room}} <br> Created On: {{cj.getCreationTime()}}
      <ion-label *ngIf="cj.isCompletionApproved()">
        <ion-icon ios="ios-checkbox" md="md-checkbox" style="color:lightgreen"></ion-icon>
        Completed
      </ion-label>
      <ion-label *ngIf="!cj.isCompletionApproved()">
        <ion-icon ios="ios-alert" md="md-alert" color="danger"></ion-icon>
        Outstanding
      </ion-label>
      <ion-label *ngIf="cUser.role=='superUser'">
        <button ion-button block (click)='removeRequest(cj)'>Remove Request</button>
      </ion-label>
    </div>
  </ion-card>
</ion-content>