<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Current Jobs
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card style="height:35%" *ngFor="let cj of currentJobs" padding (click)="showDetailsPage(cj.key)">
    <img src="assets/images/painting.png" />
    <div class="card-title"> Building: {{cj.building}} <br> Room: {{cj.room}}</div>
    <div class="card-subtitle">{{cj.jobCreatorName}} <br> Created On: <br> {{cj.getCreationTime()}}
      <ion-label *ngIf="cj.isCompletionApproved()">
        <ion-icon ios="ios-checkbox" md="md-checkbox" style="color:lightgreen"></ion-icon>
        Completed
      </ion-label>
      <ion-label *ngIf="!cj.isCompletionApproved()">
        <ion-icon ios="ios-alert" md="md-alert" color="danger"></ion-icon>
        Outstanding
      </ion-label>
    </div>
  </ion-card>

  <!-- <p style="font-size: 3.4em" *ngIf="cUser.role === 'tradesperson' && currentJobs.length == 0">
        No jobs. <br>
        <br>
        Please, come back later.
    </p> -->
</ion-content>