<ion-header>
  <ion-navbar>
    <ion-title>
      <h4>Message Board</h4>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <ion-grid>
    <ion-row class="chatBubble" *ngFor="let message of messages" no-lines>
      <ion-item item-right *ngIf="message.sender == cUser.name" no-lines>
        <div class="chat-bubble right">
          <div class="message">{{message.text}}</div>
          <img src="{{message.imageUrl}}" *ngIf="message.imageUrl != ''">
          <div class="message-detail">
            <span style="font-weight:bold;"> {{message.sender}} </span>,
            <span>{{message.getTime()}}</span>
          </div>
        </div>
      </ion-item>
      <ion-item item-left *ngIf="message.sender != cUser.name">
        <div class="chat-bubble left">
          <div class="message">{{message.text}}</div>
          <img src="{{message.imageUrl}}" *ngIf="message.imageUrl != ''">
          <div class="message-detail">
            <span style="font-weight:bold;"> {{message.sender}} </span>,
            <span>{{message.getTime()}}</span>
          </div>
        </div>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer>
  <!--change toolbar color-->
  <ion-toolbar color="Sblue">
    <ion-input placeholder="Type a message" [(ngModel)]="currentMessage" autofocus style="background-color: #e4e4e4; border-radius:30px"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right [hidden]="!isMobile()" color="royal" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button icon-right color="" (click)="postMessage()">
        
        <ion-icon ios="ios-send" md="md-send"style="color: white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>