<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      New Request
    </ion-title>
  </ion-navbar>
</ion-header>
<style>
  ion-item {
    margin-top: 6px;
  }
</style>
<ion-content padding>
  <h2 ion-text text-center>Place your order</h2>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label stacked>Room</ion-label>
        <ion-input type="text" [(ngModel)]="jobData.room"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label stacked>Building</ion-label>
        <ion-input type="text" [(ngModel)]="jobData.building"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea [(ngModel)]="jobData.description"> </ion-textarea>
    </ion-item>
  </ion-row>

  <ion-list>
    <ion-list-header>
      Select services
    </ion-list-header>
    <ion-item *ngFor="let category of categories" no-lines>
      <ion-label>{{category}}</ion-label>
      <ion-checkbox (ionChange)="selectService($event, category)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <style>
    .img-wrap {
      position: relative;
    }

    .img-wrap .close-icon-image {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
    }
  </style>
  <ion-list>
    <ion-list-header>
      Add Pictures
    </ion-list-header>
    <ion-item>
      <button ion-button clear block icon-right icon-only (click)="snap()">  
          <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item>
    <ion-row>
      <ion-col class="img-wrap" *ngFor="let photo of this.photoHelper.photos; let i = index">
        <ion-icon class="close-icon-image" icon-left ios="ios-close-circle" md="md-close-circle" (click)="deleteImage(i)"></ion-icon>
        <img src="data:image/jpeg;base64,{{photo.image}}" (click)="imageSelected(i)" />
      </ion-col>
    </ion-row>
  </ion-list>
  <h4 text-center style="color:red">{{error}}</h4>
  <button ion-button block (click)="placeRequest()">Submit Request</button>
</ion-content>