<ion-header>
  <ion-navbar>
    <ion-title>
      <h4>Welcome, {{cUser.name}} </h4>
    </ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button icon-only color="danger">
        <ion-icon md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<style>
  ion-item {
    margin-top: 6px;
  }
</style>
<ion-content padding>
  <h2 ion-text>Order form</h2>
  <ion-item>
    <ion-label stacked>Building: </ion-label>
    <ion-input type="text" [(ngModel)]="jobData.building"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Room No: </ion-label>
    <ion-input type="text" [(ngModel)]="jobData.room"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>
      Description:
    </ion-label>
    <ion-input [(ngModel)]="jobData.description"></ion-input>
  </ion-item>
  <ion-item (click)='showJobs()'>
    <ion-label>
      Select Services
    </ion-label>
    <ion-icon name="arrow-dropdown" item-right></ion-icon>
    <br>
    <p ion-text>
      Selected services are:
    </p>
  </ion-item>
  <ion-list>
    <ion-item (click)="onClickService(name)" *ngFor="let name of jobData.serviceList">
      {{name}}
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-card *ngFor="let photo of this.photoHelper.photos">
      <img src="data:image/jpeg;base64,{{photo.image}}" />
    </ion-card>
  </ion-row>
  <ion-row>
    <button ion-button (click)="snap()">
          <ion-icon name="camera"> Add Pictures</ion-icon>
         </button>
  </ion-row>
  <h4 text-center style="color:red">{{error}}</h4>
  <button ion-button block (click)="placeRequest()">Submit Request</button>
</ion-content>