<ion-header>
  <ion-navbar>
    <ion-title>
      <h4>Welcome, {{cUser.name}} </h4>
    </ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button icon-only color="danger">
        <ion-icon md="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngStyle]="{'background': color}">
    <h2 ion-text>Order form</h2>
    <ion-card padding>
      <ion-card-content>
        <ion-item>
          <ion-label>Room: </ion-label>
          <ion-input type="text" [(ngModel)]="jobData.room"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card padding>
      <ion-card-content>
        <ion-item (click)='showJobs()'>
          Select Services
          <ion-icon name="arrow-dropright" item-right></ion-icon>
        </ion-item>
        <ion-item>
          <ul>
            <li *ngFor="let sJ of jobData.jobs">
              {{sJ}}
            </li>
          </ul>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card padding>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let image of snapped">
              <img src="data:image/jpeg;base64,{{image.image}}" />
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button block outline (click)="snap(job)">
        <ion-icon name="camera"></ion-icon>
      </button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card padding>
      <ion-card-content>
        <ion-item>
          <textarea placeholder="Add some description" style="width:100%" row="5" [(ngModel)]="jobData.description"></textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <h4 text-center style="color:red">{{error}}</h4>
    <button ion-button block (click)="placeRequest()">Submit Request</button>
  </div>
</ion-content>